H1 {color: rgb(55, 247, 17); text-align: center;} 
H2 {color: rgb(3, 3, 238); text-align: center;};
H3 {color: rgba(255, 0, 221, 0.952); text-align: center; padding: 30px;} 
H4 {color: green; text-align: left;}  

table   {
        border: 1px solid black;
        border-collapse: collapse;
        }

td, th  {
        border: 1px solid black;
        padding: 30px;
        }

 body {
        margin: 0px;
        height: 100vh;
        font-family: Arial, sans-serif;
        padding: 30px;
        }
              
input {
       font-size: 16px;
       width: 300px;
       padding: 13px 0;
      }

div {
      padding: 30px;
    }